@model IEnumerable<DataAccess.Models.PatientInfo>
<style>
    .card-container {
        border-radius: 8px;
        border: 1px solid transparent;
        transition: all 0.2s ease-in;
        transform: scale(1);
        background-color: #111216;
        margin-bottom: 24px;
        padding: 25px;
    }
    .card-container:hover {
        transform: scale(1.01);
        border: 1px solid #1890ff;
        box-shadow: 0 5px 20px 0 rgb(24 144 255 / 22%);
    }

</style>
<a asp-action="AddPatient" asp-controller="Patient" class="add-link">
    Add Patient
</a>
<div class="container" style="clear:both">
    <div class="row">
        <div class="col">
            <div class="card-container">
                <h6 class="mt-5">
                    Clinic Schedule
                </h6>
                <table class="table table-hover" id="schedule-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Appointment</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td scope="row">
                                    @item.Id
                                </td>
                                <td scope="row">
                                    <a asp-controller="Patient" asp-action="GetPatient" asp-route-id="@item.Id">
                                        @item.Name
                                    </a>
                                </td>
                                <td scope="row">
                                    @item.Phone
                                </td>
                                <td scope="row">
                                    @if (item.ClinicSchedules.Count > 0)
                                    {
                                        @foreach (var subitem in item.ClinicSchedules)
                                        {
                                            <p>  @subitem.Day/@subitem.Month/@subitem.Year</p>
                                        }
                                    }
                                    else
                                    {
                                        <p class="text-danger">No Appointments For This Patient</p>
                                    }
                                </td>
                                <td scope="row">
                                    @if (item.ClinicSchedules.Count == 0)
                                    {
                                        <a class="action-button" asp-action="AddAppointment" asp-controller="Appointment" asp-route-id="@item.Id"
                                           data-toggle="tooltip" data-placement="top" title="Add Appointment">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="action-button" asp-action="AddVisit" asp-controller="Visit" asp-route-PatientId="@item.Id"
                                           data-toggle="tooltip" data-placement="top" title="Add Visit">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-container">
                <h6 class="mt-5">
                    Visits
                </h6>
                <table class="table table-hover" id="visit-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Visits' Dates</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @foreach (var subitem in item.Visits)
                            {
                                <tr>
                                    <td scope="row">
                                        @item.Id
                                    </td>
                                    <td scope="row">
                                        <a asp-controller="Patient" asp-action="GetPatient" asp-route-id="@item.Id">
                                            @item.Name
                                        </a>
                                    </td>
                                    <td scope="row">
                                        @item.Phone
                                    </td>
                                    <td scope="row">
                                        @if (item.Visits.Count > 0)
                                        {
                                            <p>
                                                @subitem.Date
                                            </p>
                                        }
                                    </td>
                                    <td scope="row">
                                        @if (item.Visits.Count > 0)
                                        {
                                            <a class="action-button" asp-action="Index" asp-controller="Visit"
                                               asp-route-VisitId="@subitem.Id"
                                               data-toggle="tooltip" data-placement="top" title="Show Visit Details">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
